---
id: contact
layout: default
---
<div class="row p-2">
    <div class="col">
        <a href="https://github.com/informatics-sa/Website" class="btn btn-dark"><i class="bi bi-github"></i> Github</a>
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-12 col-md-4">
        <h2>
            {% if page.lang == 'ar' %}
            مطوري الموقع
            {% else %}
            Website developers
            {% endif %}
        </h2>
        <ul>
            {% for i in (1..page.developers.count) %}
            <li>
                <a href="mailto:{{ page.developers[i].email }}">
                    {% if page.lang == 'ar' %}
                    {{ page.developers[i].arname }}
                    {% else %}
                    {{ page.developers[i].enname }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <h2>
            {% if page.lang == 'ar' %}
            محرري المحتوى
            {% else %}
            Maintainers
            {% endif %}
        </h2>
        <ul>
            {% for i in (1..page.maintainers.count) %}
            <li>
                <a href="mailto:{{ page.maintainers[i].email }}">
                    {% if page.lang == 'ar' %}
                    {{ page.maintainers[i].arname }}
                    {% else %}
                    {{ page.maintainers[i].enname }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <h2>
            {% if page.lang == 'ar' %}
            المشرفين
            {% else %}
            Admins
            {% endif %}
        </h2>
        <ul>
            {% for i in (1..page.admins.count) %}
            <li>
                <a href="mailto:{{ page.admins[i].email }}">
                    {% if page.lang == 'ar' %}
                    {{ page.admins[i].arname }}
                    {% else %}
                    {{ page.admins[i].enname }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
