---
layout: base
---
<nav class="navbar navbar-expand-md navbar-dark bg-success shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/{% if page.lang == 'en' %}en{% endif %}">
            <img src="/img/soi.png" alt="{{ site.data[page.lang].logo }} {{ site.data[page.lang].site_name }}" height="40" class="me-2">
            <b>
                {{ site.data[page.lang].site_name }}
            </b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav me-auto">
                
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ms-auto">
                {% assign min_tst_year = site.data.tst.min_year %}
                {% assign max_tst_year = site.data.tst.max_year %}
                {% if page.lang == "ar" %}
                <li class="nav-item"><a class="nav-link {% if page.id == 'participations' %} active {% endif %}" href="/participations">المشاركات</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'olympiads' %} active {% endif %}" href="/olympiads">الأولمبيادات</a></li>
                <!-- <li class="nav-item"><a class="nav-link {% if page.id == 'calendar' %} active {% endif %}" href="/calendar">التقويم</a></li> -->
                <li class="nav-item"><a class="nav-link {% if page.id == 'halloffame' %} active {% endif %}" href="/hall-of-fame">لائحة الشرف</a></li>
                <li class="nav-item dropdown d-none debug-only">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">الاختبارات</a>
                    <ul class="dropdown-menu">
                        {% for i in (min_tst_year..max_tst_year) %}
                        <li><a class="dropdown-item" href="/tst/{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'members' %} active {% endif %}" href="/members/">الأعضاء</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'images' %} active {% endif %}" href="/images">معرض الصور</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'contact' %} active {% endif %}" href="/contact">تواصل</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link {% if page.id == 'participations' %} active {% endif %}" href="/en/participations">Participations</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'olympiads' %} active {% endif %}" href="/en/olympiads">Olympiads</a></li>
                <!-- <li class="nav-item"><a class="nav-link {% if page.id == 'calendar' %} active {% endif %}" href="/en/calendar">Calendar</a></li> -->
                <li class="nav-item"><a class="nav-link {% if page.id == 'halloffame' %} active {% endif %}" href="/en/hall-of-fame">Hall of fame</a></li>
                <li class="nav-item dropdown debug-only">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Exams</a>
                    <ul class="dropdown-menu">
                        {% for i in (min_tst_year..max_tst_year) %}
                        <li><a class="dropdown-item" href="/en/tst/{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'members' %} active {% endif %}" href="/en/members/">Members</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'images' %} active {% endif %}" href="/en/images">Image library</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'contact' %} active {% endif %}" href="/en/contact">Contact</a></li>
                {% endif %}

                <li class="nav-item">
                    {% if page.lang == "ar" %}
                    <button class="nav-link" onclick="switchLanguage('en')" class="btn btn-outline-success">EN</a>
                    {% else %}
                    <button class="nav-link" onclick="switchLanguage('ar')" class="btn btn-outline-success">عربي</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{{ content }}

<script>
if (getCookie('debugger') == 'iReadTheSource') {
    document.querySelectorAll('.debug-only').forEach(div => {
        div.classList.remove('d-none');
    });
}
</script>