---
id: halloffame
layout: default
---
<div class="row p-3">
    <div class="col">
        <div class="btn-group m-1" role="group" aria-label="Official vs All">
            <input type="radio" class="btn-check" name="btnradio" id="official_inp" autocomplete="off" onclick="toggleOfficial();" checked>
            <label class="btn btn-outline-primary" for="official_inp">
                {% if page.lang == "en" %}
                Official Olympiads
                {% else %}
                الأولمبيادات الرسمية
                {% endif %}
            </label>
            
            <input type="radio" class="btn-check" name="btnradio" id="all_inp" autocomplete="off" onclick="toggleAll();">
            <label class="btn btn-outline-primary" for="all_inp">
                 {% if page.lang == "en" %}
                All Olympiads
                {% else %}
                كل الأولمبيادات
                {% endif %}
            </label>
        </div>
    </div>
        
    <table class="table table-striped table-bordered">
        <thead>
            {% if page.lang == "ar" %}
            <th>الترتيب</th>
            <th>الاسم</th>
            <th width="5%" style="background-color: var(--medal-gold);">ذهبي</th>
            <th width="5%" style="background-color: var(--medal-silver);">فضي</th>
            <th width="5%" style="background-color: var(--medal-bronze);">بروزني</th>
            <th width="5%" style="background-color: var(--medal-hm);">شهادة</th>
            {% else %}
            <th>Rank</th>
            <th>Name</th>
            <th width="5%" style="background-color: var(--medal-gold);">G</th>
            <th width="5%" style="background-color: var(--medal-silver);">S</th>
            <th width="5%" style="background-color: var(--medal-bronze);">B</th>
            <th width="5%" style="background-color: var(--medal-hm);">HM</th>
            {% endif %}
        </thead>
        <tbody id="official">
            {% for i in (1..page.hof.count) %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    {% if page.lang == "en" %}
                    <a href="/en/members/{{ page.hof[i].id }}">{{ page.hof[i].enname }}</a>
                    {% else %}
                    <a href="/members/{{ page.hof[i].id }}">{{ page.hof[i].arname }}</a>
                    {% endif %}
                </td>
                <td>{{ page.hof[i].gold }}</td>
                <td>{{ page.hof[i].silver }}</td>
                <td>{{ page.hof[i].bronze }}</td>
                <td>{{ page.hof[i].hm }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody id="all">
            {% for i in (1..page.all_hof.count) %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    {% if page.lang == "en" %}
                    <a href="/en/members/{{ page.all_hof[i].id }}">{{ page.all_hof[i].enname }}</a>
                    {% else %}
                    <a href="/members/{{ page.all_hof[i].id }}">{{ page.all_hof[i].arname }}</a>
                    {% endif %}
                </td>
                <td>{{ page.all_hof[i].gold }}</td>
                <td>{{ page.all_hof[i].silver }}</td>
                <td>{{ page.all_hof[i].bronze }}</td>
                <td>{{ page.all_hof[i].hm }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const tbody_official = document.querySelector("#official");
        const tbody_all = document.querySelector("#all");
        function toggleOfficial() {
            tbody_official.style.display = "";
            tbody_all.style.display = "none";
        }

        function toggleAll() {
            tbody_official.style.display = "none";
            tbody_all.style.display = "";
        }
        toggleOfficial();
    </script>
</div>
