---
layout: default
---

<div class="row">
    <div class="col p-1">
        <h1>
            {% if page.lang == "en" %}  
                {{ page.olympiad_enname }} 
            {% else %}
                {{ page.olympiad_arname }}
            {% endif %}

            ({{ page.olympiad | upcase }})
        </h1>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                {% if page.lang == "en" %}
                    <li class="list-group-item">Start: {{ page.start_date }}</li>
                    <li class="list-group-item">End: {{ page.end_date }}</li>
                    <li class="list-group-item">
                        Host: {{ page.country_enname }}
                        {% if page.online %}
                        <span class="badge bg-secondary">Online 🌐</span>
                        {% endif %}
                    </li>
                    {% if page.website %}
                    <li class="list-group-item">Website: <a href="{{ page.website }}">{{ page.website }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">البداية: {{ page.start_date }}</li>
                    <li class="list-group-item">النهاية: {{ page.end_date }}</li>
                    <li class="list-group-item">
                        الاستضافة: {{ page.country_arname }}
                        {% if page.online %}
                        <span class="badge bg-secondary">عن بعد 🌐</span>
                        {% endif %}
                    </li>
                    {% if page.website %}
                    <li class="list-group-item">الموقع: <a href="{{ page.website }}">{{ page.website }}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <ul>

            
        </ul>
    </div>
    <div class="col p-1">
        <table class="table table-bordered table-striped">
            <thead>
                <th>{% if page.lang == "en" %} Rank {% else %} الترتيب {% endif %}</th>
                <th>{% if page.lang == "en" %} Name {% else %} الاسم {% endif %}</th>
                <th>{% if page.lang == "en" %} Award {% else %} الجائزة {% endif %}</th>
            </thead>
            <tbody>
                {% for i in (1..page.participants.count) %}
                <tr>
                    <td>{{ i }}</td>
                    <td>
                        {% if page.lang == "en" %}
                        <a href="/en/members/{{ page.participants[i].id }}">{{ page.participants[i].name }}</a>
                        {% else %}
                        <a href="/members/{{ page.participants[i].id }}">{{ page.participants[i].name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ page.participants[i].award }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
