---
layout: default
usechartjs: true
---

<div class="row">
    <div class="col-md-6 col-sm-12 p-1">
        {% if page.lang == "en" %}
        <ul>
            <li>Name: {{ page.full_name }}</li>
            {% if page.graduation %}
            <li>Graduation year: {{ page.graduation }}</li>
            {% endif %}
            {% if page.codeforces %}
            <li>Codeforces account: <a href="https://codeforces.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
            {% endif %}
        </ul>
        {% else %}
        <ul>
            <li>الاسم: {{ page.full_name }}</li>
            {% if page.graduation %}
            <li>سنة التخرج: {{ page.graduation }}</li>
            {% endif %}
            {% if page.codeforces %}
            <li>كودفورسيس: <a href="https://codeforces.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% if page.participations.count > 0 %}
    <div class="col-md-6 col-sm-12 p-1">
        <table class="table table-bordered table-striped">
            <thead>
                <th>{% if page.lang == "en" %} Name {% else %} الاسم {% endif %}</th>
                <th>{% if page.lang == "en" %} Award {% else %} الجائزة {% endif %}</th>
            </thead>
            <tbody>
                {% for i in (1..page.participations.count) %}
                <tr>
                    <td>
                        <a href="{% if page.lang == 'en' %}/en{% endif %}/participations/{{ page.participations[i].olympiad }}_{{ page.participations[i].year }}">
                            {% if page.lang == "en" %} 
                                {{ page.participations[i].enname }} 
                            {% else %}
                                {{ page.participations[i].arname }}
                            {% endif %}

                            ({{ page.participations[i].olympiad | upcase }} {{ page.participations[i].year }})
                        </a>

                    </td>
                    <td>
                        {% if page.participations[i].award == 'gold' %}
                        🥇
                        {% elsif page.participations[i].award == 'silver' %}
                        🥈
                        {% elsif page.participations[i].award == 'bronze' %}
                        🥉
                        {% elsif page.participations[i].award == 'hm' %}
                        📜
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<div class="row debug-only">

</div>