---
layout: default
---

<div class="row m-3">
    <div class="col">
        <div class="btn-group" role="group" aria-label="TST Years">
            {% assign yr = page.year | to_integer %}
            {% for y in (site.data.tst.min_year..site.data.tst.max_year) %}
                {% if y == yr %}
                <a href="{% if page.lang=="en" %}/en{% endif %}/tst/{{ y }}" class="btn btn-primary">{{ y }}</a>
                {% else %}
                <a href="{% if page.lang=="en" %}/en{% endif %}/tst/{{ y }}" class="btn btn-outline-primary">{{ y }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col d-none debug-only">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_averages">
            <label class="form-check-label" for="show_averages">
                {{ site.data[page.lang].show_averages }}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_maximums">
            <label class="form-check-label" for="show_maximums">
                {{ site.data[page.lang].show_maximums }}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_medians">
            <label class="form-check-label" for="show_medians">
                {{ site.data[page.lang].show_medians }}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_distincts">
            <label class="form-check-label" for="show_distincts">
                {{ site.data[page.lang].show_distincts }}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show_stddevs">
            <label class="form-check-label" for="show_stddevs">
                {{ site.data[page.lang].show_stddevs }}
            </label>
        </div>
    </div>
</div>

<nav class="mt-2">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for i in page.olympiads %}
            {% if forloop.index == 1 %}
            <button class="nav-link active" id="nav-{{i[0]}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{i[0]}}" type="button" role="tab" aria-controls="nav-{{i[0]}}" aria-selected="true">
            {% else %}
            <button class="nav-link" id="nav-{{i[0]}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{i[0]}}" type="button" role="tab" aria-controls="nav-{{i[0]}}" aria-selected="false">
            {% endif %}
                {{ i[0] | upcase }}
            </button>
        {% endfor %}
    </div>
</nav>



<div class="tab-content" id="nav-tabContent">
    {% for i in page.olympiads %}
        {% assign oly = i[0] %}
        {% assign val = i[1] %}
        <div class="tab-pane fade {% if forloop.index == 1 %} show active {% endif %}" id="nav-{{oly}}" role="tabpanel" aria-labelledby="nav-{{oly}}-tab" tabindex="0">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>#</th>
                    {% if page.lang == "en" %} 
                    <th>Name</th>
                    <th>Sum</th>
                    {% else %}
                    <th>الاسم</th>
                    <th>المجموع</th>
                    {% endif %}
                    
                    {% for idx in (1..val.exams.count) %}
                    <th width="15%">
                        {% assign eid = val.exams[idx] %}
                        <a href="{%if page.lang=="en"%}/en{%endif%}/exams/{{ eid }}">{{ page.exam_names[eid] }}</a>
                    </th>
                    {% endfor %}

                </thead>
                <tbody>
                    {% for j in val.lists %}
                    {% assign uid = j[0] %} 
                    {% assign res = j[1] %}

                    <tr>
                        <td>{{ forloop.index }}</td>
                        <td>
                            <!-- TODO: Better design for this -->
                            {% if forloop.index <= val.participants_count %}
                                {% if page.lang == "en"%}
                                <span class="badge bg-success">Selected</span>
                                {% else %}
                                <span class="badge bg-success">مرشح</span>
                                {% endif %}
                            {% endif %}
                            
                            
                            {% if page.lang == "en" %}
                            <a href="/en/members/{{ j[0] }}">{{ page.names[uid] }}</a>
                            {% else %}
                            <a href="/members/{{ j[0] }}">{{ page.names[uid] }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ res[1] | round: 3 }}
                        </td>
                        {% for k in (2..res.count) %}
                        <td>
                            {{ res[k] | round: 3 }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>


<script src="/resources/modal_settings.js"></script>