# Cache
.ruby-version
.jekyll-cache
__pycache__
_site
vendor/bundle/
.bundle/
lib/Database/

# Build artifacts
root/*
lib
!root/img
!root/data
!root/files
build.py
helper.py
Gemfile
Gemfile.lock


# OS / Editor Specific
.DS_Store
flake.nix
Thumbs.db
