---
title: "الفريق السعودي للمعلوماتية"
description: "الموقع الرسمي"
id: images
lang: ar
layout: default
---
<div class="row p-3">
    <div class="col-sm-12 col-md-4">
        {% include imgbox.html src="winning_jboi_2023.jpg" title="صورة جماعية بعد JBOI" description="" date="2023/11/3" %}
    </div>
    <div class="col-sm-12 col-md-4">
        {% include imgbox.html src="ioi_2023.jpeg" title="المشاركين في IOI" description="" date="2023/8/14" %}
    </div>
    <div class="col-sm-12 col-md-4">
        {% include imgbox.html src="boi_2023.jpeg" title="من BOI 2023" description="أحمد الهاشم يرفع علم المملكة في سلوفينيا" date="2023/11/3" %}
    </div>
</div>