---
layout: base
---
<nav class="navbar navbar-expand-md navbar-dark bg-success shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <b>
                {% if page.lang == "ar" %}
                فريق المعلوماتية السعودي
                {% else %}
                Saudi Informatics Team
                {% endif %}
            </b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav me-auto">
                
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ms-auto">
                {% if page.lang == "ar" %}
                <li class="nav-item"><a class="nav-link {% if page.id == 'olympiads' %} active {% endif %}" href="/olympiads">الأولمبيادات</a></li>
                <!-- <li class="nav-item"><a class="nav-link {% if page.id == 'calender' %} active {% endif %}" href="/calender">التقويم</a></li> -->
                <li class="nav-item"><a class="nav-link {% if page.id == 'halloffame' %} active {% endif %}" href="/hall-of-fame">لائحة الشرف</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'members' %} active {% endif %}" href="/members/">الأعضاء</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'images' %} active {% endif %}" href="/images">معرض الصور</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'contact' %} active {% endif %}" href="/contact">تواصل</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link {% if page.id == 'olympiads' %} active {% endif %}" href="/en/olympiads">Olympiads</a></li>
                <!-- <li class="nav-item"><a class="nav-link {% if page.id == 'calender' %} active {% endif %}" href="/en/calender">Calender</a></li> -->
                <li class="nav-item"><a class="nav-link {% if page.id == 'halloffame' %} active {% endif %}" href="/en/hall-of-fame">Hall of fame</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'members' %} active {% endif %}" href="/en/members/">Members</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'images' %} active {% endif %}" href="/en/images">Image library</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'contact' %} active {% endif %}" href="/en/contact">Contact</a></li>
                {% endif %}

                <li class="nav-item">
                    {% if page.lang == "ar" %}
                    <a class="nav-link" href="/en{{ page.url | remove_first: site.baseurl }}" class="btn btn-outline-success">EN</a>
                    {% else %}
                    <a class="nav-link" href="{{ page.url | remove_first: site.baseurl | remove_first: '/en' }}" class="btn btn-outline-success">عربي</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {{ content }}
</div>