---
layout: default
---

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Level 4</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Level 3</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Level 2</button>
        <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Level 1</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        
        <table class="table table-bordered table-striped">
            <thead>
                <th>
                    {% if page.lang == "en" %} Name {% else %} الاسم {% endif %}
                </th>
                <th>
                    {% if page.lang == "en" %} Codeforces {% else %} كودفورسيس {% endif %}
                </th>
                <th>
                    {% if page.lang == "en" %} Participations count {% else %} عدد المشاركات {% endif %}
                </th>
            </thead>
            <tbody>
                {% for i in (1..page.level4.count) %}
                <tr>
                    <td>{{ page.level4[i].name }}</td>
                    <td><a href="https://codeforces.com/profile/{{ page.level4[i].codeforces }}">{{ page.level4[i].codeforces }}</a></td>
                    <td>{{ page.level4[i].participations_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
</div>