---
layout: default
id: olympiads
---

{% for i in (1..page.olympiads.count) %}
<div class="row p-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {% if page.lang == "en" %} {{ page.olympiads[i].enname }} {% else %} {{ page.olympiads[i].arname }} {% endif %}
                    ({{ page.olympiads[i].id | upcase }})
                </h5>
                {% if page.olympiads[i].website != null %}
                <p class="card-text">
                    <small class="text-body-secondary">
                        <i class="bi-link-45deg"></i>
                        <a href="{{ page.olympiads[i].website }}">{{ page.olympiads[i].website }}</a>
                    </small>
                </p>
                {% endif %}
                <p class="card-text">
                    {% if page.lang == "en" %}
                    {{ page.olympiads[i].endescription }}
                    {% else %}
                    {{ page.olympiads[i].ardescription }}
                    {% endif %}
                </p>
                <div class="card-footer">
                    <table class="table table-bordered d-inline">
                        <thead>
                            <th>🥇</th>
                            <th>🥈</th>
                            <th>🥉</th>
                            <th>📜</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ page.olympiads[i].gold }}</td>
                                <td>{{ page.olympiads[i].silver }}</td>
                                <td>{{ page.olympiads[i].bronze }}</td>
                                <td>{{ page.olympiads[i].hm }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>            
            </div>
        </div>        
    </div>
</div>
{% endfor %}