---
id: olympiads
layout: default
---
<table class="table table-bordered table-striped">
    <thead>
        {% if page.lang == "ar" %}
        <th width="5%">السنة</th>
        <th>الأولمبياد</th>
        <th>تاريخ المشاركة</th>
        <th>المكان</th>
        <th>الجوائز</th>
        {% else %}
        <th width="5%">Year</th>
        <th>Olympiad</th>
        <th>Date</th>
        <th>Country</th>
        <th>Awards</th>
        {% endif %}
    </thead>
    <tbody>
        {% for year in (page.start_year..page.last_year) reversed %}
            {% for idx in (1..page[year].count) %}
                <tr>
                    {% if idx == 1 %}
                    <td class="text-center" style="vertical-align: middle;" rowspan="{{ page[year].count - 1 }}">{{ year }}</td>
                    {% endif %}
                    <td>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/olympiads/{{page[year][idx].name}}_{{year}}">
                            {% if page.lang == "en" %}  
                                {% if page[year][idx].name == "ioi" %}
                                    International Olympiad in Informatics
                                {% elsif page[year][idx].name == "boi" %}
                                    Balkan Olympiad in Informatics
                                {% elsif page[year][idx].name == "egoi" %}
                                    European Girls Olympiad of Informatics
                                {% elsif page[year][idx].name == "apio" %}
                                    Asian-Pasific Olympiad Informatics Olympiad
                                {% elsif page[year][idx].name == "jboi" %}
                                    Junior Balkan Olympiad in Informatics
                                {% endif %}
                            {% else %}
                                {% if page[year][idx].name == "ioi" %}
                                    الأولمبياد الدولي للمعلوماتية
                                {% elsif page[year][idx].name == "boi" %}
                                    أولمبياد البلقان الدولي
                                {% elsif page[year][idx].name == "egoi" %}
                                    أولمبياد الأوربي
                                {% elsif page[year][idx].name == "apio" %}
                                    أولمبياد آسيا والباسفك للمعلوماتية
                                {% elsif page[year][idx].name == "jboi" %}
                                    أولمبياد البلقان للمعلوماتية للناشئين
                                {% endif %}
                            {% endif %}

                            ({{ page[year][idx].name | upcase }})
                        </a>
                    </td>
                    <td>
                        {% if page[year][idx].start == page[year][idx].end %}
                            {{ page[year][idx].start }} - {{ page[year][idx].end }}
                        {% else %}
                            {{ page[year][idx].start }}
                        {% endif %}
                    </td>
                    <td>{{ page[year][idx].country }}</td>
                    <td>{{ page[year][idx].awards }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
