---
id: participations
layout: default
---
<table class="table table-bordered table-striped">
    <thead>
        {% if page.lang == "ar" %}
        <th width="5%">السنة</th>
        <th>الأولمبياد</th>
        <th>تاريخ المشاركة</th>
        <th>المكان</th>
        <th>الجوائز</th>
        {% else %}
        <th width="5%">Year</th>
        <th>Olympiad</th>
        <th>Date</th>
        <th>Country</th>
        <th>Awards</th>
        {% endif %}
    </thead>
    <tbody>
        {% for year in (page.start_year..page.last_year) reversed %}
            {% for idx in (1..page[year].count) %}
                <tr>
                    {% if idx == 1 %}
                    <td class="text-center" style="vertical-align: middle;" rowspan="{{ page[year].count - 1 }}">{{ year }}</td>
                    {% endif %}
                    <td>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/olympiads/{{page[year][idx].name}}_{{year}}">
                            {% if page.lang == "en" %}  
                                {{ page[year][idx].enname }}
                            {% else %}
                                {{ page[year][idx].arname }}
                            {% endif %}

                            ({{ page[year][idx].name | upcase }})
                        </a>
                    </td>
                    <td>
                        {% if page[year][idx].start == page[year][idx].end %}
                            {{ page[year][idx].start }}
                        {% else %}
                            {{ page[year][idx].start }} - {{ page[year][idx].end }}
                        {% endif %}
                    </td>
                    <td>
                        {% if page.lang == 'ar' %}
                            {{ page[year][idx].country_arname }}
                        {% else %}
                            {{ page[year][idx].country_enname }}
                        {% endif %}
                    </td>
                    <td>{{ page[year][idx].awards }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
