---
layout: default
---

<div class="row">
    {% if page.lang == "en" %}
    <div class="col-md-6 col-sm-12">
        <ul>
            <li>Name: {{ page.full_name }}</li>
            <li>Graduation year: {{ page.graduation }}</li>
            <li>Codeforces account: <a href="https://codeforce.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
        </ul>
    </div>
    {% else %}
    <div class="col-md-6 col-sm-12">
        <ul>
            <li>الاسم: {{ page.full_name }}</li>
            <li>سنة التخرج: {{ page.graduation }}</li>
            <li>كودفورسيس: <a href="https://codeforce.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
        </ul>
    </div>
    {% endif %}
</div>